:root {
    --color-bg: #2C2F43;
    --color-inner-container-bg: #303447;
    --color-window-bg: #222331;
    --color-text: #fff;
    --color-prime: #F96F0D;
    --color-second: #7191AB;
    --color-text-subtle: #F96F0D;
    /* --ripple-color: rgba(84, 86, 168, 0.24); */
    --ripple-color: rgba(168, 104, 84, 0.1633);
    --root-container-max-width: 1366px;
    --container-max-width: 1086px;
    --animate-duration: 0.8s;
    --animate-delay: 0.87s;

    font-family: 'Fira Code', 'Fira Sans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    /* font-size: 16px; */
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--color-text);
    background-color: var(--color-bg);

    cursor: none !important;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    max-height: 100vh;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    cursor: none !important;
    padding: 0;
    margin: 0;
    background: var(--color-bg);
    /* background: linear-gradient(to top right, #262837, var(--color-bg)); */
    width: 100%;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.loaded {
    max-height: unset;
    overflow-y: unset;
}

code,
pre {
    font-family: 'Fira Code', monospace;
}

a {
    @apply transition-all;
    cursor: none !important;
    color: var(--color-text);
}

/*
body #magicPointer.pointer-overlay {
    width: 44px;
    height: 44px;
}
*/


/* = ===================
   = Custom classes
   = =================== */

.magic-hover {
    transition: all .2s;
}

.no-select,
.fx {
    user-select: none;
}

.animate__delay-1\.5s {
    animation-delay: 1.5s;
}

.animate__delay-2\.5s {
    animation-delay: 2.5s;
}

.animate__delay-3\.5s {
    animation-delay: 3.5s;
}

.animate__delay-4s {
    animation-delay: 4s;
}

.bg-default {
    background-color: var(--color-bg);
}

.border-1 {
    border-width: 1px;
}


/* = ===================
   = Custom elements
   = =================== */

.cta {
    @apply font-medium transition-all hover:bg-slate-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2;

    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    background: linear-gradient(263.43deg, rgba(249, 111, 13, 0.12) 0%, rgba(101, 112, 132, 0.12) 100%);
    border: 1px solid #F96F0D;
    border-radius: 4px;
    box-sizing: border-box;
}

.page-header,
.section-header {
    @apply relative pt-12 pb-8 flex items-center;
}

.page-title,
.section-title {
    @apply relative flex-grow;

    &::after {
        @apply absolute z-0 top-0 left-0;
        content: '';
        margin-top: 26px;
        height: 1px;
        width: 50%;
        background-color: var(--color-prime);
    }

    h1,
    h2 {
        @apply pr-3 w-fit relative z-10 font-medium lowercase;
        font-size: 32px;
        color: var(--color-text);
        background-color: var(--color-inner-container-bg);

        &::before {
            content: "#";
            color: var(--color-prime);
        }
    }

    &.page-title::after {
        display: none;
    }

    &.page-title h1::before,
    &.page-title h1::before {
        content: "/";
    }
}

.page-subtitle {
    @apply pt-2;
    font-size: 16px;
    color: var(--color-second);
}

.section-header.has-link .section-title::after {
    width: 80%;
}

.simple-view-more {
    @apply font-medium;
    font-size: 18px;
    background-color: var(--color-inner-container-bg);
}

.cards {
    @apply grid pb-4 gap-3;
    grid-template-columns: 33fr 33fr 33fr;

    &.cols-4 {
        grid-template-columns: 25fr 25fr 25fr 25fr;
    }
}

.card {
    @apply border-solid;
    border-radius: 8px;
    border-width: 1px;
    border-color: var(--color-second);
    box-sizing: border-box;
}

.card-figure {
    @apply overflow-hidden;
    border-radius: 8px 8px 0 0;

    &, img {
        @apply w-full bg-slate-600;
        transition: 0.3s ease-in-out all;
        max-height: 184px;
        min-height: 184px;
    }

    img {
        @apply object-cover object-center grayscale opacity-60;
    }

    &:hover img {
        @apply grayscale-0 opacity-100;
    }
}

.card-title {
    @apply px-2 pt-2 font-medium;
    font-size: 24px;

    &.sm {
        @apply py-1;
        font-size: 16px;
    }
}

.card-content {
    @apply px-2 pt-1;
    color: var(--color-second);
    font-size: 16px;

    p {
        margin: 0;
        padding: 0;
    }

    code {
        /* @apply text-xs; */
        font-size: 14px;
    }

    &.border-top {
        @apply border-solid py-2;
        border-width: 1px 0 0;
        border-color: var(--color-second);
    }
}

.card-footer {
    @apply mt-4 px-2 pb-4;
}

.tags {
    @apply flex flex-wrap p-2 border-solid text-center gap-x-3 gap-y-1;
    border-width: 1px 0;
    border-color: var(--color-second);

    .tag {
        @apply text-slate-400 hover:text-slate-200;
        font-size: 16px;
    }
}


/* = ===================
   = Custom theme colors
   = =================== */

.text-prime {
    color: var(--color-prime);
}

.hover\:.text-prime:hover {
    /* todo: */
    color: var(--color-prime);
}

.text-second {
    color: var(--color-second);
}

.hover\:.text-second:hover {
    /* todo: */
    color: var(--color-second);
}

@media (prefers-color-scheme: light) {
    /* :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    } */
}


/* = ===================
   = Custom plugins
   = =================== */

#magicPointer {
    z-index: 99999;
}

#magicPointer:last-of-type {
    /* display: none; */
}

.simple-termynal {
    padding: 0;
    text-align: start !important;
    background-color: transparent !important;
    font-size: inherit !important;
    width: inherit !important;
    min-height: 32px !important;

    &::before,
    &::after {
        display: none;
    }
}

.cursor-ripple {
    position: fixed;
    z-index: 999999;
    border-radius: 50%;
    background-color: var(--ripple-color);
    transform: scale(0);
    animation: ripple 0.33s linear;
}

@keyframes ripple {
    to {
        transform: scale(1.9);
        opacity: 0;
    }
}

@keyframes glitch {
    2%,
    64% {
        transform: translate(2px, 0) skew(0deg);
    }

    4%,
    60% {
        transform: translate(-2px, 0) skew(0deg);
    }

    62% {
        transform: translate(0, 0) skew(5deg);
    }
}

@keyframes glitchTop {
    2%,
    64% {
        transform: translate(2px, -2px);
    }

    4%,
    60% {
        transform: translate(-2px, 2px);
    }

    62% {
        transform: translate(13px, -1px) skew(-13deg);
    }
}

@keyframes glitchBotom {
    2%,
    64% {
        transform: translate(-2px, 0);
    }

    4%,
    60% {
        transform: translate(-2px, 0);
    }

    62% {
        transform: translate(-22px, 5px) skew(21deg);
    }
}


/* = ===================
   = Responsive
   = =================== */

@media (max-width: 768px) {
    .page-title, .section-title {

        &::after {
            width: 100%;
        }
    }

    .cards {
        grid-template-columns: 100fr;

        &.cols-4 {
            grid-template-columns: 100fr;
        }
    }
}

/*
576px
@media (max-width: 360px) {
    .page-title, .section-title {

        &::after {
            width: 100%;
        }
    }
} */
