.landing-wrap {
    @apply relative will-change-transform;
    max-width: var(--root-container-max-width);
    margin: 0 auto;
    transition: 0.4s linear;
    transform-origin: 50% 0;
    transform: scaleY(1) scaleX(1.22) translateZ(0);
}

.side-wrap,
.landing-inner-wrap {
    @apply isolate;
    min-height: 100vh;
    height: -webkit-fill-available;
}

.landing-inner-wrap {
    max-width: var(--container-max-width);
    background-color: var(--color-inner-container-bg);
}

.side-wrap,
.landing-inner-wrap,
.container-boxed {
    @apply will-change-transform;
    transition: 0.6s ease-in-out;
}

.landing-inner-wrap,
.container-boxed {
    max-width: var(--container-max-width);
    margin: 0 auto;
}

.side-wrap {
    @apply fixed z-50 top-0 overflow-hidden hidden xl:block;
    min-width: 120px;
}

.side-wrap,
.container-boxed {
    transition-delay: 0.7s;
    opacity: 0;
}

.landing-wrap.usher {
    /* todo: add animation of staggered growth */
    transform: scaleY(1) scaleX(1) translateZ(0);
}

.landing-wrap.usher .side-wrap,
.landing-wrap.usher .container-boxed {
    transition-delay: 0.7s;
    opacity: 1;
}

.landing-wrap.unloaded .side-wrap,
.landing-wrap.unloaded .container-boxed {
    transition-delay: 0;
    opacity: 0;
}
